

@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes fabItemTitle {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
    from {
        opacity: 0;
        transform: translate(30, 0);
    }
}
@keyframes fabIconRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(225deg);
    }
}
@keyframes fabIconRotInv{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-225deg);
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}