@import "./animations";
$inAnimDuration: 250ms;
$timingFunction: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.fab-items-holder {
    padding: 0 9 0 9;
    width: 100%;
}

.fab-items-holder[debug="true"] {
    background-color: #22ff0000;
}
.fab-item-holder[debug="true"] {
    background-color: #33ffff00;
}
.fab-title-holder[debug="true"] {
    background-color: #55ffff00;
}

.fab-item-title-holder[debug="true"] {
    background-color: #55ff00ff;
}
.fab-button[debug="true"] {
    background-color: #550000ff;
}
.fab-icon[debug="true"] {
    background-color: #55144433;
}

.fab-title-holder {
    margin: 0 5 0 5;
    height: 25;
    elevation: 1;
    border-radius: 4;
    background-color: #fff;
}

.fab-item-title-holder {
    @extend .fab-title-holder;
    margin: 0 12 0 12;
}


.fab-item-title {
    @extend .fab-item-title-holder;
    padding: 0 5 0 5;
    font-size: 14;
    color: #666666;
    vertical-alignment: center;
}

.fab-title {
    @extend .fab-item-title;
    margin: 0 ;
}
.fab-button {
    width: 54;
    height: 54;
    margin: 12;
    border-radius: 27;
    vertical-align: center;
    horizontal-alignment: right;
    elevation: 6;
    dynamicelevationoffset: 6;
}
.fab-icon {
    text-align: center;
    vertical-align: center;
    font-size: 24;
}

.fab-icon-on {
    opacity: 0;
}
.fab-icon-off {
    opacity: 1;
}

.fab-icon-show {
    animation-name: fade;
    animation-duration: $inAnimDuration;
    animation-timing-function: $timingFunction;
    animation-fill-mode: forwards;
}
.fab-icon-hide {
    animation-name: fade;
    animation-duration: $inAnimDuration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
.fab-icon-hidden {
    opacity: 0;
}

.fab-icon-rotate-show {
    animation-name: fabIconRot;
    animation-duration: $inAnimDuration;
    animation-timing-function: $timingFunction;
    animation-fill-mode: forwards;
}

.fab-icon-rotate-hide {
    animation-name: fabIconRot;
    animation-duration: $inAnimDuration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
.fab-icon-rotate-hidden {
    transform: rotate(0deg);
}
.fab-icon-on-rotate-show {
    animation-name: fabIconRotInv;
    animation-duration: $inAnimDuration;
    animation-timing-function: $timingFunction;
    animation-fill-mode: forwards;
}

.fab-icon-on-rotate-hide {
    animation-name: fabIconRotInv;
    animation-duration: $inAnimDuration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
.fab-icon-on-rotate-hidden {
    transform: rotate(-225deg);
}

.fab-backdrop {
    background-color: rgba(29, 30, 35, 0.9);
    // opacity: 0;
}

.fab-backdrop[debug="true"] {
    background-color: rgba(29, 30, 35, 0.1);
}
.fab-backdrop-show {
    animation-name: fade;
    animation-duration: $inAnimDuration;
    animation-fill-mode: forwards;
}

.fab-backdrop-hide {
    animation-name: fade;
    animation-duration: $inAnimDuration;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
.fab-backdrop-hidden {
    opacity: 0;
}

.fab-item {
    width: 40;
    height: 40;
    border-radius: 20;
    font-size: 24;
    padding: 0;
    margin: 8;
}

.fab-item-button-show {
    animation-name: scale;
    animation-duration: $inAnimDuration;
    animation-timing-function: $timingFunction;
    animation-fill-mode: forwards;
}

.fab-item-button-hide {
    animation-name: scale;
    animation-duration: $inAnimDuration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
.fab-item-button-hidden {
    transform: scale(0);
}

.fab-item-title-show {
    animation-name: fabItemTitle;
    animation-duration: $inAnimDuration;
    animation-timing-function: $timingFunction;
    animation-fill-mode: forwards;
}

.fab-item-title-hide {
    animation-name: fabItemTitle;
    animation-duration: $inAnimDuration;
    animation-timing-function: $timingFunction;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
.fab-item-title-show-left {
    animation-name: fabItemTitleLeft;
    animation-duration: $inAnimDuration;
    animation-timing-function: $timingFunction;
    animation-fill-mode: forwards;
}

.fab-item-title-hide-left {
    animation-name: fabItemTitleLeft;
    animation-duration: $inAnimDuration;
    animation-timing-function: $timingFunction;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
.fab-item-title-hidden {
    opacity: 0;
    transform: translate(30, 0);
}
.fab-item-title-hidden-left {
    opacity: 0;
    transform: translate(-30, 0);
}
